@use "variables" as var;
@use "media-queries" as q;

.header {
  text-align: center;
  padding: 2rem 1rem 1rem;

  &__logo {
    font-family: var.$font-logo;
    color: var.$color-heading;
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.2;
    text-decoration: none;
  }

  &__title {
    font-family: var.$font-heading;
    color: var.$color-heading;
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  &__subtitle {
    font-family: var.$font-body;
    color: var.$color-text;
    font-size: 1.1rem;
    margin: 0.5rem 0 0;
    font-weight: 300;
  }

  @include q.laptop {
    padding: 3rem 2rem 2rem;

    &__logo {
      font-size: 2.5rem;
    }

    &__logo--fixed {
      position: fixed;
      bottom: 4rem;
      left: 4rem;
      z-index: 1;
    }

    &__title {
      font-size: 4rem;
    }

    &__subtitle {
      font-size: 1.25rem;
    }
  }
}
